@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");

@font-face {
  font-family: "yasser";
  src: url("../fonts//FFYaseer-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yasserBold";
  src: url("../fonts//FFYaseer-Solid.ttf");
  font-weight: normal;
  font-style: normal;
}
