@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.root {
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 0em 0rem;
  border-radius: 1.5rem;
}

.inList {
  composes: root;
}

.inGrid {
  composes: root;
}

.leadMediaThumb {
  height: 100%;
  border-radius: 1rem 0rem 1rem 1rem;
  @nest & img {
    border-radius: 3rem 3rem 0rem 0rem;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text {
  /* empty */
  padding: 0rem 0rem;
  margin-top: 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}

.excerpt {
  @nest & p {
    padding: 0rem 0rem;
    margin: 1rem 0rem;
  }

  @nest & strong {
    font-weight: 600;
  }
}
.button {
  padding: 1.5rem 2rem;
  background-color: #f4468f;
  border-radius: 1rem;
  color: white;
  box-shadow: 0px 15px 20px 0px #000000 5%;
  font-weight: 700;
}

.date {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--color-gray);
}
